---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import AnchorHeading from '@astrojs/starlight/components/AnchorHeading.astro';
// import Layout from '../layouts/Layout.astro';
import { XcodeWindow } from '../components/xcode/window';
---

<StarlightPage
  frontmatter={{ title: 'My custom page', tableOfContents: false }}
  hasSidebar={false}
>
  <p>This is a custom page with a custom component:</p>

  <div class="px-[16px]">
    <!--
    Use client:only rather than client:load to avoid hydration mismatch.
    Add the Starlight class ".not-content" to opt out of Starlight side-effects.
    -->
    <XcodeWindow client:only className="[&>div]:max-w-[942px] not-content" />
  </div>

  <AnchorHeading level="2" id="learn-more">Learn more</AnchorHeading>
  <p>
    <a href="https://starlight.astro.build/">Read more in the Starlight docs</a>
  </p>
</StarlightPage>
