---
import Layout from '../layouts/Layout.astro';
import { Server } from '../components/Server.tsx';
import { Client } from '../components/Client.tsx';
import { XcodeWindow } from '../components/xcode/window';
---

<!-- Any changes saved in a .astro file always cause a page reload. -->
<Layout>
  <h1 class="text-4xl bg-cyan-300">HTML SSR component</h1>
  <Server className="bg-amber-300">React SSR component</Server>
  <Client className="bg-green-300" client:load>React CSR component</Client>

  <div class="px-[16px]">
    <!-- Use client:only rather than client:load to avoid hydration mismatch -->
    <XcodeWindow client:only className="[&>div]:w-[942px]" />
  </div>
</Layout>

<!-- ![Build phases](build-phases-light.png#gh-light-mode-only)![Build phases](build-phases-dark.png#gh-dark-mode-only) -->
