---
import Layout from '../layouts/Layout.astro';
import { XcodeWindow } from '../components/xcode/window';
---

<Layout>
  <div class="px-[16px]">
    <!-- Use client:only rather than client:load to avoid hydration mismatch -->
    <XcodeWindow client:only className="[&>div]:w-[942px]" />
  </div>
</Layout>

<!-- ![Build phases](build-phases-light.png#gh-light-mode-only)![Build phases](build-phases-dark.png#gh-dark-mode-only) -->
