---
import { Example } from "../components/Example.tsx";
import TailwindLayout from "../layouts/Tailwind.astro";
---

<!-- Any changes saved in a .astro file always cause a page reload. -->
<TailwindLayout>
  <h1 class="text-4xl bg-cyan-300">HTML SSR component</h1>
  <Example className="bg-amber-300">React SSR component</Example>
  <Example className="bg-green-300" client:load>React CSR component</Example>
</TailwindLayout>
