---
import '../styles/global.css';
import { ReactLayout } from '../components/ReactLayout';
---

<html lang="en" dir="ltr">
  <head></head>
  <body>
    <!--
    We have to specify a hydration rule for any interactive components.
    Otherwise, it'll render the HTML but none of the event handlers and hooks,
    etc.
    https://stackoverflow.com/questions/74875277/onclick-event-not-working-for-react-component-in-astro
    https://docs.astro.build/en/guides/framework-components/#hydrating-interactive-components
    -->
    <ReactLayout client:load><slot /></ReactLayout>
  </body>
</html>
