---
import "../styles/global.css";
import { ReactLayout } from "../components/ReactLayout";
---

<html lang="en" dir="ltr">
  <head></head>
  <body>
    <ReactLayout><slot /></ReactLayout>
  </body>
</html>
